<!DOCTYPE html>
<html>
<head>
  <% include ../static/partials/head.ejs %> 
</head>
<body>
  <% include ../static/partials/messages.ejs %> 
  <% include ../static/partials/navbar.ejs %> 
  <h1>Wikis</h1>
  
  <% include ../static/partials/baseScripts.ejs %> 
</body>
</html>
