<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    
    <title>404 - Not Found</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/views/assets/users.css" type="text/css">
  </head>
  <body>
    <main class="container">
      <h1 class="title">Error</h1>
      <p>Whoops! We can't find the page you're looking for!</p>
    </main>
  </body>
</html>